---
import { cn } from "@/lib/utils"
import { HugeiconsIcon } from "@hugeicons/react"
import { DownloadIcon, AlertIcon } from "@hugeicons/core-free-icons"

import { Separator } from "@/components/ui/separator"
import { buttonVariants } from "@/components/ui/button"
import { Alert, AlertDescription, AlertTitle } from "@/components/ui/alert"
import SectionTitleAlt from "@/components/shared/section-title-alt.astro"
import PreparationCardRenderer from "./preparation-card-renderer"
---

<section class="flex w-full justify-center overflow-hidden bg-red-50 px-4">
  <div class="flex w-full max-w-7xl flex-1 flex-col py-26">
    <SectionTitleAlt
      title="Author Guidelines & Standards"
      subtitle="PREPARATION"
    />

    <div
      class="relative grid grid-cols-1 gap-4 md:grid-cols-[.55fr_1fr] md:gap-10 lg:gap-20"
    >
      <div></div>

      <div class="flex flex-col gap-4 text-slate-600">
        <Alert
          className="border-amber-200 bg-amber-50 text-amber-900 dark:border-amber-900 dark:bg-amber-950 dark:text-amber-50"
        >
          <HugeiconsIcon
            icon={AlertIcon}
            size={16}
            className="shrink-0 text-red-400"
            color="currentColor"
          />
          <AlertTitle>Submission Ethics</AlertTitle>
          <AlertDescription>
            <p>
              All manuscripts identified as requiring revision will undergo a
              subsequent review process. Authors are expected to prepare a clean
              Revised Manuscript and a separate Response to Reviewers document,
              clearly outlining how each reviewer's comment has been addressed.
            </p>

            <Separator className="mb-2" />

            <p>Double-blind peer review is mandatory for all tracks.</p>

            <p>
              Ensure all identifiers, including author names and affiliations,
              are removed from the document metadata and the body text for
              initial evaluation. Manuscripts failing this check will be
              returned for revision.
            </p>
          </AlertDescription>
        </Alert>

        <PreparationCardRenderer />

        <p>Get the paper template here:</p>

        <div class="flex gap-2">
          <a href="" class={cn(buttonVariants({ variant: "default" }))}
            >Download template Docs
            <HugeiconsIcon
              icon={DownloadIcon}
              size={16}
              color="currentcolor"
              className="shrink-0"
            />
          </a>
          <a href="" class={cn(buttonVariants({ variant: "default" }))}
            >Download template LaTex
            <HugeiconsIcon
              icon={DownloadIcon}
              size={16}
              color="currentcolor"
              className="shrink-0"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
