---
import Layout from "@/layouts/main.astro"
import Breadcrumbs from "@/components/shared/breadcrumbs.astro"
---

<Layout>
  <Breadcrumbs
    pageName="Registrations"
    coverImageUrl="/assets/images/hero-carousel/slide - 3.webp"
  />
  <main></main>
</Layout>
