---
import Layout from "@/layouts/main.astro"
import Breadcrumbs from "@/components/shared/breadcrumbs.astro"
import GallerySection from "@/components/gallery-page/gallery-section.astro"
---

<Layout>
  <Breadcrumbs
    pageName="Gallery"
    coverImageUrl="/assets/images/hero-carousel/slide - 1.webp"
  />
  <main>
    <GallerySection />
  </main>
</Layout>
