---
import SectionTitle from "@/components/shared/section-title.astro"
import ResearchTrackRenderer from "./research-track-renderer.tsx"
---

<section class="flex w-full justify-center bg-red-50 px-4">
  <div class="flex w-full max-w-7xl flex-1 flex-col py-26">
    <SectionTitle
      title="Comprehensive Research Tracks"
      subtitle="OUR FOCUS"
      description="We cover the full spectrum of modern health sciences, from foundational clinical practice to the cutting-edge of biomedical engineering."
    />

    <ResearchTrackRenderer />
  </div>
</section>
