---
import Layout from "@/layouts/main.astro"
import Breadcrumbs from "@/components/shared/breadcrumbs.astro"
import QuestionsSection from "@/components/author-faq-page/questions-section.astro"
---

<Layout>
  <Breadcrumbs
    pageName="Paper Upload FAQs"
    coverImageUrl="/assets/images/hero-carousel/slide - 3.webp"
  />

  <main>
    <QuestionsSection />
  </main>
</Layout>
