---
import SectionTitle from "@/components/shared/section-title.astro"
import TimelineCardRenderer from "./timeline-card-renderer"
---

<section
  class="relative flex w-full justify-center overflow-hidden bg-red-50 px-4"
>
  <div class="relative z-10 flex w-full max-w-7xl flex-1 flex-col py-26">
    <SectionTitle
      title="Pioneers of the Health Frontier"
      subtitle="TIMELINE"
      description="Navigate through a world-class lineup of sessions led by the architects of tomorrow's medicine and global healthcare policy."
    />

    <TimelineCardRenderer />
  </div>
</section>
