---
import Layout from "@/layouts/main.astro"
import Breadcrumbs from "@/components/shared/breadcrumbs.astro"
import PreparationSection from "@/components/final-camera-ready-page/preparation-section/index.astro"
---

<Layout>
  <Breadcrumbs
    pageName="Final Camera Ready Instructions"
    coverImageUrl="/assets/images/hero-carousel/slide - 1.webp"
  />

  <main>
    <PreparationSection />
  </main>
</Layout>
