---
const { title, subtitle, description } = Astro.props
---

<div class="mb-8 grid grid-cols-1 gap-4 md:grid-cols-2 md:gap-10 lg:gap-20">
  <div class="flex flex-col-reverse">
    <h2 class="text-xl font-semibold text-red-950 md:text-2xl">
      {title}
    </h2>

    <span class="text-xs font-medium tracking-wider">{subtitle}</span>
  </div>

  <p class="text-gray-600">
    {description}
  </p>
</div>
