---
import Layout from "@/layouts/main.astro"
import CommitteeSection from "@/components/committee-page/committee-section/index.astro"
---

<Layout>
  <main>
    <CommitteeSection />
  </main>
</Layout>
