---
import Layout from "@/layouts/main.astro"
import Breadcrumbs from "@/components/shared/breadcrumbs.astro"
import PreparationSection from "@/components/initial-submission-page/preparation-section/index.astro"
import RunningText from "@/components/shared/running-text"
import JoinAsAuthorSection from "@/components/initial-submission-page/join-as-author-section.astro"
---

<Layout>
  <Breadcrumbs
    pageName="InitialSubmission Instructions"
    coverImageUrl="/assets/images/hero-carousel/slide - 4.webp"
  />
  <main>
    <PreparationSection />
    <RunningText />
    <JoinAsAuthorSection />
  </main>
</Layout>
