---
import Layout from "@/layouts/main.astro"
import Breadcrumbs from "@/components/shared/breadcrumbs.astro"
import PreparationSection from "@/components/revised-submission-page/preparation-section/index.astro"
---

<Layout>
  <Breadcrumbs
    pageName="Revised Submission Instructions"
    coverImageUrl="/assets/images/hero-carousel/slide - 2.webp"
  />
  <main>
    <PreparationSection />
  </main>
</Layout>
