---
import SectionTitle from "@/components/shared/section-title.astro"
import RegistrationCardRenderer from "./registration-card-renderer"
---

<section class="flex w-full justify-center bg-red-50 px-4">
  <div class="flex w-full max-w-7xl flex-1 flex-col py-26">
    <SectionTitle
      title="Join the Global Exchange"
      subtitle="REGISTRATION FEES"
      description="Choose the registration category that best fits your professional status. Fees include access to all scientific sessions, keynote presentations, and networking events throughout the conference."
    />

    <RegistrationCardRenderer />
  </div>
</section>
