---
import Layout from "@/layouts/main.astro"
import Breadcrumbs from "@/components/shared/breadcrumbs.astro"
import SponsorSection from "@/components/sponsor-page/sponsor-section.astro"
---

<Layout>
  <Breadcrumbs
    pageName="Our Partners"
    coverImageUrl="/assets/images/hero-carousel/slide - 2.webp"
  />
  <main>
    <SponsorSection />
  </main>
</Layout>
