---
import "@/styles/global.css"

import Navigation from "@/components/shared/navigation"
import Footer from "@/components/shared/footer.astro"
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <meta name="theme-color" content="#ffffff" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HEALTHMED-IC 2026</title>
    <meta
      name="description"
      content="Healthcare Excellence and Advancements in Life Treatment & Human Medicine – International Conference. Nov 5–7, 2026. İstanbul Gelişim Üniversitesi Tower."
    />
  </head>
  <body>
    <Navigation client:load />
    <slot />
    <Footer />
  </body>
</html>
