---
import SectionTitle from "@/components/shared/section-title.astro"
---

<section class="flex w-full justify-center bg-red-50 px-4">
  <div class="flex w-full max-w-7xl flex-1 flex-col py-26">
    <SectionTitle
      title="Collaborating for Global Impact"
      subtitle="OUR PARTNERS"
      description="Meet the forward-thinking organizations and health-tech leaders whose support empowers us to bridge the gap between biomedical research and real-world clinical solutions."
    />

    <div></div>
  </div>
</section>
