---
import Layout from "@/layouts/main.astro"
import Breadcrumbs from "@/components/shared/breadcrumbs.astro"
import QuestionsSection from "@/components/faq-page/questions-section.astro"
---

<Layout>
  <Breadcrumbs
    pageName="FAQ"
    coverImageUrl="/assets/images/hero-carousel/slide - 4.webp"
  />
  <main>
    <QuestionsSection />
  </main>
</Layout>
